<div class="text-center mx-auto sm:w-6/12">
  <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Editar blog</h2>
  <%= render "form", blog: @blog %>
  <h2 class="mb-4 text-xl lg:text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white">Editar Autoevaluación</h2>
  <%= render "apun_self_evaluations/form", apun_self_evaluation: @apun_self_evaluation, blog: @blog %>
  <div>
    <%= link_to "Leer el blog", @blog, class: "font-medium text-primary-600 dark:text-primary-500 hover:underline" %> |
    <%= link_to "Todos los blogs", blogs_path, class: "font-medium text-primary-600 dark:text-primary-500 hover:underline" %>
  </div>
</div>
